<h2>タイトル一覧</h2>

<table class="table table-bordered table-striped table-condensed">
<thead>
  <tr>
    <th>タイトル</th>
    <th>作者</th>
    <th>全巻揃い</th>
    <th>巻数</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<tbody>
<% @titles.each do |title| %>
  <tr>
    <td><%= title.title %></td>
    <td><%= title.author %></td>
    <td><%= title.complete %></td>
    <td><%= title.books_string %></td>
    <td><%= link_to 'Show', title %></td>
    <td><%= link_to 'Edit', edit_title_path(title) %></td>
    <td><%= link_to 'Destroy', title, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>

</table>

<%= will_paginate @title, :previous_label => '前のページ', :next_label => '次のページ' %>

<%= link_to '新規登録', new_title_path, :class => "btn" %>
