<div>
  <p>
    <h2 class="border wedgwood leftline3">タイトル一覧</h2>
  </p>
</div>

<table class="table table-bordered table-striped table-condensed">
<thead>
  <tr>
    <th class="title">タイトル</th>
    <th class="author">作者</th>
    <th class="complete">全巻揃い</th>
    <th>巻数</th>
    <th></th>
  </tr>
</thead>

<tbody>
<% @titles.each do |title| %>
  <tr>
    <td><%= link_to title.title, title %></td>
    <td><%= title.author %></td>
    <td class="complete">
      <% if title.complete %>
         <i class="icon-ok"></i>
      <% else %>
      <% end %>
    </td>
    <td><%= title.books_string %></td>
    <td><%= link_to 'Edit', edit_title_path(title) %> |
        <%= link_to 'Delete', title, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>

</table>

<%= will_paginate @title, :previous_label => '前のページ', :next_label => '次のページ',
                          :renderer => BootstrapPagination::Rails %>

<%= link_to '新規登録', new_title_path, :class => "btn" %>
