<div data-role="page">
  <div data-role="header" data-position="fixed">
    <a href="#" data-icon="arrow-l" data-rel="back">Back</a>
    <% if @complete.nil? %>
      <h2>タイトル一覧</h2>
    <% elsif @complete == true %>
      <h2>全巻揃い一覧</h2>
    <% elsif @complete == false %>
      <h2>未完一覧</h2>
    <% end %>
    <%= link_to "Home", root_path, { "data-icon" => "home" } %>
  </div>

  <div data-role="content">
    <div data-role="fieldcontain">
      <%= form_tag({ :action => "index" }, { :method => :get }) do %>
        <%= text_field_tag :query, "", 
            { :type => "search", :size => 24, :placeholder => "検索キーワードを入力" } %>
        <%= submit_tag "検索" %>
      <% end %>
    </div>

    <% unless @query.nil? %>
    <p>
      <strong><%= @query %></strong> での検索結果
    </p>
    <% end %>
  </div><!-- content -->

  <ul data-role="listview">
  <% @titles.each do |title| %>
    <li>
      <%= link_to title do %>
        <p><%= title.author %></p>
        <%= title.title %>
        <span class="ui-li-count"><%= title.books_string %></span>
      <% end %>
    </li>
  <% end %>
  </ul>

  <div data-role="footer" data-position="fixed">
  <%= will_paginate @title, :previous_label => '前へ', :next_label => '次へ', :inner_window => 0, :outer_window => 0,
                            :renderer => WillPaginate::ActionView::JqueryMobilePaginateLinkRenderer %>
  </div>
</div><!-- page -->
