<div data-role="page">
  <div data-role="header">
    <h2>タイトル一覧</h2>
  </div>

  <div data-role="content">
    <div>
      <% unless @query.nil? %>
      <p class="text-info search-info"><strong><%= @query %></strong> での検索結果</p>
      <% end %>
    </div>

    <div>
      <%= form_tag({ :action => "index" }, { :method => :get }) do %>
        <%= text_field_tag :query, "", 
            { :id => "appendedInputButton", :size => 24, :placeholder => "検索キーワードを入力" } %>
        <button class="btn" type="submit"><i class="icon-search"></i> 検索</button>
      <% end %>
    </div>
  </div><!-- content -->

  <ul data-role="listview">
  <% @titles.each do |title| %>
    <li>
      <%= link_to title do %>
        <p><%= title.author %></p>
        <%= title.title %>
        <span class="ui-li-count"><%= title.books_string %></span>
      <% end %>
    </li>
  <% end %>
  </ul>

  <%= will_paginate @title, :previous_label => '前へ', :next_label => '次へ', :inner_window => 0, :outer_window => 0,
                            :renderer => WillPaginate::ActionView::JqueryMobilePaginateLinkRenderer %>

  <div data-role="footer">
  </div>
</div><!-- page -->
