<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @title.title %>
</p>

<p>
  <b>Author:</b>
  <%= @title.author %>
</p>

<p>
  <b>Complete:</b>
  <%= @title.complete %>
</p>

<p>
  <b>Created_at:</b>
  <%= @title.created_at %>
</p>

<ul>
<% @title.books.sort{ |a, b| a.volume <=> b.volume }.each do |book| %>
  <li><%= book.volume %> - <%= book.created_at %>
<% end %>
</ul>


<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %>
