<div data-role="page">
  <div data-role="header" data-position="fixed">
    <a href="#" data-icon="arrow-l" data-rel="back">Back</a>
    <h2><%= @title.title %></h2>
    <%= link_to "Home", root_path, { "data-icon" => "home" } %>
  </div>

  <% if not notice.nil? %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <div data-role="content">
    <dl>
      <dt><b>タイトル</b></dt>
      <dd><%= @title.title %></dd>
    </dl>
    <dl>
      <dt><b>著者</b></dt>
      <dd><%= @title.author %></dd>
    </dl>
    <dl>
      <dt><b>全巻揃い</b></dt>
      <dd>
        <% if @title.complete %>
          <a data-role="button" data-iconpos="notext" data-icon="check"></a>
        <% else %>
          <a data-role="button" data-iconpos="notext" data-icon="delete"></a>
        <% end %>
      </dd>
    </dl>
    <dl>
      <dt><b>登録日</b></dt>
      <dd><%= l @title.created_at %></dd>
    </dl>

    <ul data-role="listview" data-inset="true">
      <li data-role="list-divider">巻数</li>
    <% @title.books.sort{ |a, b| a.volume <=> b.volume }.each do |book| %>
      <li>
        <%= book.volume %>
        <p class="ui-li-aside"><%= l book.created_at %></p>
      </li>
    <% end %>
    </ul>
  </div><!-- content -->

</div><!-- page -->
