<div>
  <p>
    <h2 class="border wedgwood leftline3"><%= @title.title %></h2>
  </p>
</div>

<p id="notice"><%= notice %></p>

<form class="form-horizontal fixed">
  <fieldset>

    <div class="control-group">
      <label class="control-label">著者</label>
      <div class="controls controls-text">
        <%= @title.author %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">全開揃い</label>
      <div class="controls controls-text">
        <%= @title.complete %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">登録日</label>
      <div class="controls controls-text">
        <%= @title.created_at %>
      </div>
    </div>

  </fieldset>
</form>

<table class="table table-bordered table-striped table-condensed">

<thead>
  <tr>
    <th>巻数</th>
    <th>登録日</th>
  </tr>
</thead>

<tbody>
<% @title.books.sort{ |a, b| a.volume <=> b.volume }.each do |book| %>
  <tr>
    <td><%= book.volume %></td>
    <td><%= book.created_at %></td>
  </tr>
<% end %>
</tbody>

</table>

<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %>
