<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <title>Manga Database</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <header>
    <h1><%= link_to image_tag("logo_small.png"), "/" %> for iPhone</h1>
  </header>

  <%= yield %>

</div><!-- .container -->

</body>
</html>
